body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}


body {
    display: flex;
    overflow: hidden;
}
html, body {
     min-height: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}