body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}


body {
    display: flex;
    overflow: hidden;
}

html,
body {
    min-height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background: #0e0e0e;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}