html,
body {
  height: 100vh;
}

body {
  margin: 0;
}

.flex-container {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: auto;
  /* border: 1px solid blue; */
}

.flex-item {
  /* background-color: tomato; */
  padding: 5px;
  font-weight: 900;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-item:hover {
  transform: scale(1.1);
  /* Slightly bigger on hover */
}

#contact {
  z-index: 2;
}

#about,
#experience,
#projects {
  opacity: 0;
  pointer-events: none;
}

#about {
  top: 1.5em;
}

#experience {
  top: -1.5em;
}

#projects {
  top: -3em;
}

.row:hover #about,
.row:hover #experience,
.row:hover #projects {
  opacity: 1;
  top: 0;
  pointer-events: all;
}

#contact a {
  color: white;
}

#about a {
  color: #00e1ff;
}

#experience a {
  color: #ff0057;
}

#projects a {
  color: #ffde00;
}


@media (hover: none) and (pointer: coarse) {
  .flex-item {
    font-size: clamp(1.5rem, 8vw, 4rem);
    transform: none;
  }

  #about,
  #experience,
  #projects {
    opacity: 1;
    top: 0;
    pointer-events: all;
  }
}