body {
  background: #0e0e0e;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.layered-name {
  justify-content: center;
  position: relative;
  font-size: 4rem;
  font-weight: 900;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1;
  z-index: 10;
}

.layered-name a {
  pointer-events: none;
}

.layered-name:hover a {
  pointer-events: auto;
}

.layered-name span,
a {
  z-index: 1;
  position: absolute;
  transform: translate(-50%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.layered-name span:nth-child(1) {
  color: #ff0057;
  z-index: 1;
}

.layered-name span:nth-child(2) {
  color: #00e1ff;
  z-index: 2;
}

.layered-name span:nth-child(3) {
  color: #ffde00;
  z-index: 3;
}

.layered-name span:nth-child(4) {
  color: #ffffff;
  z-index: 4;
}

.layered-name span:nth-child(5) {
  color: #00e1ff;
  z-index: 1;
  opacity: 0;
}

.layered-name span:nth-child(6) {
  color: #ff0057;
  z-index: 1;
  opacity: 0;
}

.layered-name span:nth-child(7) {
  color: #ffde00;
  z-index: 1;
  opacity: 0;
}

.layered-name:hover span:nth-child(1) {
  transform: translate(calc(-50% - 0.33rem), calc(-0.33rem));
}

.layered-name:hover span:nth-child(2) {
  transform: translate(calc(-50% + 0.33rem), calc(0.33rem));
}

.layered-name:hover span:nth-child(3) {
  transform: translate(calc(-50% - 0.33rem), calc(0.33rem));
}

.layered-name:hover span:nth-child(5) {
  opacity: 1;
  transform: translate(calc(-50%), -1.4em);
}

.layered-name:hover span:nth-child(6) {
  opacity: 1;
  transform: translate(calc(-50%), 2.4em);
}

.layered-name:hover span:nth-child(7) {
  opacity: 1;
  transform: translate(calc(-50%), 3.8em);
}

/* Mobile: Always show expanded menu */
@media (hover: none) and (pointer: coarse) {
  .layered-name {
    font-size: clamp(1.5rem, 8vw, 4rem);
  }

  .layered-name a {
    pointer-events: auto;
  }

  .layered-name span:nth-child(1) {
    transform: translate(calc(-50% - 0.5vw), calc(-0.5vh));
  }

  .layered-name span:nth-child(2) {
    transform: translate(calc(-50% + 0.5vw), calc(0.5vh));
  }

  .layered-name span:nth-child(3) {
    transform: translate(calc(-50% - 0.5vw), calc(0.5vh));
  }

  .layered-name span:nth-child(5) {
    opacity: 1;
    transform: translate(calc(-50%), -12vh);
  }

  .layered-name span:nth-child(6) {
    opacity: 1;
    transform: translate(calc(-50%), 12vh);
  }

  .layered-name span:nth-child(7) {
    opacity: 1;
    transform: translate(calc(-50%), 24vh);
  }
}