body {
  background: #0e0e0e;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
}


.center {
  padding: 40vh 0px;
  margin: auto;
}
.layered-name {
  position: relative;
  font-size: 4rem;
  font-weight: 900;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1;
}

.layered-name span {
    position: absolute;
    transform: translate(-50%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.layered-name span:nth-child(1) {
  color: #ff0057;
  z-index: 1;
}
.layered-name span:nth-child(2) {
  color: #00e1ff;
  z-index: 2;
}
.layered-name span:nth-child(3) {
  color: #ffde00;
  z-index: 3;
}
.layered-name span:nth-child(4) {
  color: #ffffff;
  z-index: 4;
}

.layered-name:hover span:nth-child(1) {
  transform: translate(calc(-50% - 0.33rem), calc(-0.33rem));
}
.layered-name:hover span:nth-child(2) {
  transform: translate(calc(-50% + 0.33rem), calc(0.33rem));
}
.layered-name:hover span:nth-child(3) {
  transform: translate(calc(-50% - 0.33rem), calc(0.33rem));
}

.circles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.circle {
  opacity: 0;
  transform: scale(0.5);
  transition: transform 1.0s ease-in-out, opacity 2.0s ease-in-out;
}

.top-left { 
  position: absolute;
  top: -200px; 
  left: -200px; 
}
.top-right { 
  position: absolute;
  top: -200px; 
  right: -200px; 
}
.bottom-left { 
  position: absolute;
  bottom: -200px; 
  left: -200px; 
}
.bottom-right { 
  position: absolute;
  bottom: -200px; 
  right: -200px; 
}

.layered-name:hover ~ .circles .top-left .circle {
  opacity: 1;
}
.layered-name:hover ~ .circles .top-left .circle:nth-child(1) {
  transform: translate(170px, 170px) scale(2);
}
.layered-name:hover ~ .circles .top-left .circle:nth-child(2) {
  transform: translate(190px, 150px) scale(1.8);
}
.layered-name:hover ~ .circles .top-left .circle:nth-child(3) {
  transform: translate(150px, 190px) scale(2.2);
}

.layered-name:hover ~ .circles .top-right .circle {
  opacity: 1;
}
.layered-name:hover ~ .circles .top-right .circle:nth-child(1) {
  transform: translate(-170px, 170px) scale(2);
}
.layered-name:hover ~ .circles .top-right .circle:nth-child(2) {
  transform: translate(-190px, 150px) scale(1.8);
}
.layered-name:hover ~ .circles .top-right .circle:nth-child(3) {
  transform: translate(-150px, 190px) scale(2.2);
}

.layered-name:hover ~ .circles .bottom-left .circle {
  opacity: 1;
}
.layered-name:hover ~ .circles .bottom-left .circle:nth-child(1) {
  transform: translate(170px, -170px) scale(2);
}
.layered-name:hover ~ .circles .bottom-left .circle:nth-child(2) {
  transform: translate(190px, -150px) scale(2.2);
}
.layered-name:hover ~ .circles .bottom-left .circle:nth-child(3) {
  transform: translate(150px, -220px) scale(1.8);
}

.layered-name:hover ~ .circles .bottom-right .circle {
  opacity: 1;
}
.layered-name:hover ~ .circles .bottom-right .circle:nth-child(1) {
  transform: translate(-170px, -170px) scale(1.8);
}
.layered-name:hover ~ .circles .bottom-right .circle:nth-child(2) {
  transform: translate(-190px, -150px) scale(2.2);
}
.layered-name:hover ~ .circles .bottom-right .circle:nth-child(3) {
  transform: translate(-150px, -190px) scale(2);
}

.circle:nth-child(2n) { transition-delay: 0.3s; }
.circle:nth-child(3n) { transition-delay: 0.45s; }